@import "../../style/vars";

.overlay {
  position: fixed;
  top: 0;
  // right: 0;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: $color-modal-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;

  z-index: $z-index-modal;

  &.open {
    transition:
      opacity $transition,
      visibility $transition;
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  position: relative;
  background-color: $color-modal-bg;
  width: calc(100% - 20px);
  max-width: 500px;

  min-height: 100px;
  // max-height: 96vh;
  transition: transform $transition;
  // overflow: auto;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 5;
}

.content {
  padding: 50px 10px;
}

.scrollbar {
  max-height: calc(100vh - 160px);
}
